@charset "UTF-8";

@font-face {
    font-family: 'ProtestStrike';
    src: url(./fonts/ProtestStrike-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'PTSansCaption';
    src: url(./fonts/PTSansCaption-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Rowdies';
    src: url(./fonts/Rowdies-Regular.ttf) format('truetype');
}

/*CONFIG GLOBAIS*/
:root{
    --cor1: #FAFCF9;
    --cor2: #056035;
    --cor3: #0C4F3D;
    --cor4: #002300;
    --cor5: #0D0D0D;
    --cor6: #1a1a1a;
    --fonte1: 'Arial', sans-serif;
    --fonte2: 'ProtestStrike', sans-serif;
    --fonte3: 'PTSansCaption', sans-serif;
    --fonte4: 'Rowdies', sans-serif;
}

/*=======CONFIG GERAIS=======*/
body {
    background-color: var(--cor5);
    margin: 0%;
    padding: 0%;
    color: var(--cor1);
    width: 100%;
    font-family: var(--fonte1);
}
h1{
    letter-spacing: 4px;
}
h2{
    font-family: var(--fonte4);
    font-size: 45px;
    letter-spacing: 3px;
}
/*=======CABEÇALHO=======*/
header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    background-color: var(--cor4);
    min-height: 80px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0px 50px;
}
.menu a {
    color: var(--cor1);
    text-decoration: none;
    font-family: var(--fonte3);
    font-weight: bold;
}
.logo {
    width: 60px;
    height: 60px;
    margin: 10px 30px;
}

/*=======APRESENTAÇÃO=======*/
nav {
    background-color: var(--cor5);
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
nav .square1 {
    background: radial-gradient(circle at center, var(--cor2) 0%, var(--cor4) 70%);
    height: 400px;
    width: 450px;
    align-items: end;
    justify-content: right;
    display: flex;
    margin: 120px 20px 20px 50px;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
}
.square1 img {
    width: 400px;
}
.nome-titulo {
    display: flex;
    flex-direction: column;
    color: var(--cor1);
    font-family: 'ProtestStrike', sans-serif;
    font-style: normal;

}
.profissao{
    font-family: var(--fonte3);
    font-size: 15px;
    text-align: left;
    width: 280px;
    margin-bottom: 10px;
    padding-left: 25px;
}
.nome {
    padding: 0%;
    margin: 0%;
    font-size: 60px;
    font-weight: bolder;
    line-height: 0.9;
    text-align: left;
    width: 350px;
    padding-left: 30px;
}
.sobrenome {
    padding: 0%;
    margin: 0%;
    font-size: 60px;
    font-weight: bolder;
    line-height: 0.9;
    text-align: right;
    width: 380px;
}
.formula {
    width: 450px;
    margin: 20px auto;
    padding-bottom: 50px;
}

/*=======SOBRE=======*/
.QuemSou {
    background-color: var(--cor6);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    gap: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 40px 20px;
}
.square2 {
    background: radial-gradient(circle at center, var(--cor2) 0%, var(--cor4) 50%);
    height: 400px;
    width: 350px;
    align-items: end;
    justify-content: left;
    display: flex;
    margin: 20px 20px 20px 20px;
    padding-top: 100px;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
}
.square2 img {
    width: 350px;
    translate: -80px 0px;
}
.QuemSouTexto {
    font-family: var(--fonte3);
    width: 700px;
    padding: 0px 50px 50px 50px;
}
.QuemSouTexto p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.3;
    color: var(--cor1);
}

/*=======TECH SKILLS=======*/
.techskill {
    background-color: var(--cor5);
    padding: 10px 20px 40px 40px;
    text-align: center;
    min-height: 330px;
}
.tech-skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 1000px;
    margin: 0px auto;
}
.tech-skills li {
    background-color: var(--cor4);
    display: flex;
    align-content: center;
    height: 50px;
    width: 180px;
    color: var(--cor1);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px -1.5px 2px rgba(255, 255, 255, 0.37);
}
.language {
    padding-top: 15px;
    height: 50px;
    width: 100px;
    text-align: center;
}
.icon {
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 5px 10px 0px 0px;
}

/*=======CURRÍCULO=======*/
.curri {
    background-color: var(--cor6);
    padding: 40px 20px;
    text-align: center;
}
.curri h2 {
    margin-top: 10px;
    margin-bottom: 50px;
}
.curriculo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}
.square3 {
    background: radial-gradient(circle at center, var(--cor2) 0%, var(--cor4) 50%);
    height: 300px;
    width: 300px;
    align-items: end;
    justify-content: left;
    display: flex;
    margin: 0px 20px 20px 20px;
    padding-top: 100px;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
}
.square3 img {
    width: 300px;
}
.curriculo-texto {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--cor1);
    text-align: center;
    width: 400px;
}
.curriculo-texto h3 {
    text-align: left;
    margin: 30px auto 0px auto;
}
.curriculo-texto ul {
    font-family: var(--fonte3);
    list-style-type: disc;
    padding-left: 20px;
    text-align: justify;
    margin-top: 10px;
}
.curriculo-texto li {
    font-size: 14px;
    margin-bottom: 10px;
}
.barra{
    background-color: var(--cor1);
    width: 2px;
    height: 400px;
    margin: 0px;
    padding: 0px;
}

/*=======AVALIAÇÕES=======*/
.aval {
    background-color: #0d0d0d;
    padding: 40px 20px;
    text-align: center;
}
.aval h2 {
    margin-top: 25px;
    margin-bottom: 100px;
}
.avaliacoes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 50px;
}
.avaliacao-item{
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 20px;
    border-radius: 40px;
    width: 200px;
    height: 90px;
}
.avaliacao-texto{
    translate: 0px -55px;
    font-weight: bold;
    font-size: 15px;
}
.ava-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    translate: 0px -60px;
}
.star-img{
    width: 60px;
    margin-bottom: 0px;
}
#star5{
    width: 150px;
    margin-bottom: 0px;
    translate: 0px -80px;
}
#star3{
    width: 72px;
    margin-bottom: 0px;
    translate: 0px -78px;
}
#half-star{
    width: 33px;
    margin-bottom: 0px;
    translate: 0px -47px;
}


/*=======CONTATOS=======*/
footer {
    background-color: #002300;
    padding: 20px;
    min-height: 200px;
}
footer h2 {
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
}
.footer-dados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 30px 0px 30px;
}
.footer-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.contato-item{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
}
.contato-item-texto{
    color: var(--cor1);
    font-size: 20px;
    margin-bottom: 20px;
}
.icon-contato {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
.footer-logo {
    display: flex;
    margin: 0px 40px;
    justify-content: right;
}
.footer-logo img{
    width: 60px;
    height: 60px;
}

/*=======EFEITOS E ANIMAÇÕES=======*/
